<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>我的名字是：{{name}}</h1>
        <h3>我的年龄是：{{age}}</h3>
        <h6>性别：{{sex}}</h6>
        <span>信息：{{info.a}}</span><br />
        <span>信息：{{info.b}}</span><br />
        <input type="text" v-model="info.a">
        <input type="text" v-model="info.b">
    </div>
</body>
<script src="./vue.js"></script>
<script>
    const vm = new Vue({
        el:'#app',
        data: {
            name: 'zs',
            age:30,
            sex:'男',
            info:{
                a:'我叫zs',
                b:'我喜欢看书'
            }
        }
    })
</script>
</html>